extends layout

block header
  h1 Contact Us
  p Email one of us below if you need help with the Printer, or have any questions.

block content
  #people.box
    h2 Louis Aaron
    a(href = "mailto:laaron@andover.edu") laaron@andover.edu
    p <strong>Club Head</strong> Can help and answer any questions
    br
    h2 Jeffrey Shen
    a(href = "mailto:jshen@andover.edu") jshen@andover.edu
    p <strong>Web Designer</strong> Can help and answer question on how to use the Printer
    br
    h2 Sam Bloom
    a(href = "mailto:sbloom@andover.edu") sbloom@andover.edu
    p <strong>Graphic Designer</strong> Can help and answer questions on how to design shirts for the Printer.
