extends layout

block header
  h1 Contact Us
  p Email one of us below if you need help with the Printer, or have any questions.

block content
  #people.box
    h2 Nalu Concepcion
    a(href = "mailto:lconcepcion@andover.edu") lconcepcion@andover.edu
    p <strong>Head of Finance and Outreach</strong>
    br
    h2 Arno Min
    a(href = "mailto:amin@andover.edu") amin@andover.edu
    p <strong>Head of Operations</strong>
    br
