extends layout

block header
  h1 The Printer
  p Design and print custom t-shirts&nbsp;
    strong at Phillips Academy
  br
  a.btn(href = "#about") Whoa. Tell me more
  a.btn(href = "#getstarted") Get Started

block livecounter
  .side
    p In <span id = "timeSpent"></span> days, we've saved students <span>$</span><span id = "amount"></span>!

block content
  .box#about
    p.italic
      i We're in the news! Some of the shirts we printed 
      a(href = "https://globalnews.ca/video/3933814/montreal-is-becoming-a-hub-for-bitcoin-and-blockchain") ended up on a Canadian TV show
      | .
    br
    br
    h2 About
    p
      | We have a Direct-to-Garment printer (fancy words for a t-shirt printer) that has been brought to Andover for you to use. It prints custom designs onto items like t-shirts, sweatshirts, and even towels and tote bags.
      br
      br
      |The purpose of The Printer is to provide students with a cheaper, faster, and easier method to print custom items. Any Andover student knows that CustomInk is often prohibitively expensive and takes two weeks to process an order. The Printer takes the guessing out of the game and allows students to print a range of 1 shirt to 60 shirts at any given time for less money. If your club or team gains a new member, you can always return to the Printer and print another one in under five minutes.
      br
      br
      strong Anyone can use the printer.&nbsp;
      | If you don't know how to use it, just&nbsp;
      a(href = "/contact") ask us
      | &nbsp;and we'll explain the simple process in 5-10 minutes. We also work with the Graphic Design Club to create aesthetic designs for your apparel.
    br
    br
    h3 Why Us?
    ul
      li Faster: With 150-second print-times, you can be in and out with brand new shirts in minutes.
      li Cheaper: We are much cheaper than our competitors, such as CustomInk.
      li Easier: Located in the basement of the library and managed by classmates, the Printer allows for great flexibility. Never worry about ordering just the right number of items, as you can always print more. Payment is carried out by Bluecard.
    br
    br
    h3 Past Orders
    #carousel.carousel.slide(data-ride = "carousel")
      .carousel-inner(role = "listbox")
        .item.active
          img.d-block.img-fluid(src = "/Graphics/past_orders/1.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/2.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/3.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/4.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/5.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/6.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/7.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/8.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/9.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/10.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/11.jpg")
        .item
          img.d-block.img-fluid(src = "/Graphics/past_orders/12.jpg")
      a.carousel-control.left(href = "#carousel" role = "button" data-slide = "prev")
        span.glyphicon.glyphicon-chevron-left
      a.carousel-control.right(href = "#carousel" role = "button" data-slide = "next")
        span.glyphicon.glyphicon-chevron-right
  .box#getstarted
    h2 Getting Started
    p Need Shirts? Here's how:
    br
    #toggleswitch
      a#left(onclick = "select('left')").active Know what you want?
      a#right(onclick = "select('right')") Still choosing?
    ul#knowwhatyouwant
      li
        strong Design.&nbsp;
        | If you have a design and know what type of shirt you want, you’re ahead of the game.
    ul#stillchoosing(hidden)
      li
        strong Make a design.&nbsp;
        | Try working with the&nbsp;
        a(href = "https://www.customink.com/lab" target = "_blank") Design Lab
        | &nbsp;on CustomInk’s website to get an idea of what you want, or sketch a rough design out.&nbsp;
        <a href = "/contact">Contact us</a>
        | &nbsp; if you need help.
      li
        strong Find your items.&nbsp;
        | Check out &nbsp;
        a(href = "http://www.blankshirts.com/") blankshirts.com
        | &nbsp; and get an idea of what general type of item you’d like (hoodie, shirts, etc.). If we don’t have it in stock, we’ll order it and it will be here in 1-3 days.
      li
        strong Contact us.&nbsp;
        | Our graphic design team will take a look at your design idea and help you make one that looks great.
    ul
      li
        strong Send us an email&nbsp;
        | with your item type, design (just a image file, doesn’t need to be in a special format), and quantity (x smalls, y mediums…). We’ll get back to you the same day with pricing and a set of times you can come learn to use the printer (for orders of 14 or smaller, we can print for you).
      li
        strong Print!&nbsp;
        | If you will be printing, the library staff will give you a key to the printing room. If we print them for you, all that’s left is the next step.
      li
        strong Pay&nbsp;
        | with cash or Bluecard.
  .box#pricing
    h2 Pricing
    p Use the following tool to calculate the price of your shirt order (this is only an estimate, price may be subject to other factors. <a href = "mailto:laaron@andover.edu">Contact us</a> for more info): 
    br
    p Number of Shirts: 
      input.text#numOfShirts(type = "text" value = "1")
    //p Design includes white ink or is printed on a dark shirt:
      input.checkbox#whiteInk(type = "checkbox")
    p Printing occurs on both sides:
      input.checkbox#doubleSided(type = "checkbox")
    p I already have the shirts. Just charge me for ink:
      input.checkbox#justInk(type = "checkbox")
    br
    h3 Choose what type of shirt you want:
    #chooseShirt
      .shirtType(onclick = "selectShirt(0)")
        img(src = "/Graphics/pricing/tee.png")
        p T-Shirt
      .shirtType(onclick = "selectShirt(1)")
        img(src = "/Graphics/pricing/ls.png")
        p Long Sleeve
      .shirtType(onclick = "selectShirt(2)")
        img(src = "/Graphics/pricing/crew.png")
        p Crew Neck
      .shirtType(onclick = "selectShirt(3)")
        img(src = "/Graphics/pricing/hoodie.png")
        p Hoodie
    br
    h3 Choose what material you want:
    #chooseMaterial
      input.radio#cotton(type = "radio" name = "material" value = "cotton") 
      p Cotton
      br
      input.radio(type = "radio" name = "material" value = "fiftyfifty") 
      p 50/50 Cotton/Poly
      br
      input.radio(type = "radio" name = "material" value = "triblend") 
      p Tri-Blend
      br
      br
    h3 Size your design:
    p I have a circular design:
      input.checkbox#circle(type = "checkbox")
    #sizeDesign
      #sizingarea.ui-widget-content
    br
    br
    a.btn(onclick = "calculatePrice()") Estimate Price!
  .box.banner
    .overlay
    .img
    center
      h2 Ready?
      a.btn(href = "/contact") Contact us
      a.btn(href = "/reserve") Reserve a time
  div#dpi(style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;")

block scripts
  script(src = "dist/JS/spreadsheet.min.js")
  script(src = "https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous")
  script(src = "dist/JS/pricing.min.js")
