doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="P1247Ha1uoSrj5LCmf-8PqE7Gytus2kuIx8Hqn6nVmU")

    title The Printer @ PA

    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css")
    link(href="dist/CSS/main.css" rel="stylesheet" type="text/css")
    link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css")

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/sweetalert/dist/sweetalert.min.js")

    block vars
      -var short = false;
  body
    #wrapper.container-fluid
      .absolute
        nav.row
          .col-xs-1.left
            a(href = "/")
              i.fa.fa-home
          .col-xs-11.right
            a(href = "/#about") About
            a(href = "/faqs") FAQS
            a(href = "/#pricing") Price Calculator
            a(href = "/contact") Contact Us
            a(href = "https://www.facebook.com/theprinterpa/") 
              i.fa.fa-facebook-square
            //a(href = "/resources") Resources
            //a(href = "/archive") Past Designs
      if short
        header.short
          .overlay
          .img
          center
            block header

      else
        header
          .overlay
          .img
          center
            block header
          block livecounter
      #body
        block content
      footer.row
        .col-xs-9.left
          p The Printer is made possible through a grant from the Abbot Academy Association.
        .col-xs-3.right
          a(href = "/contact") Contact Us
    block scripts
    script(src = "dist/JS/main.min.js")
