doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="P1247Ha1uoSrj5LCmf-8PqE7Gytus2kuIx8Hqn6nVmU")

    title The Printer @ PA | Live Counter

    link(href="dist/CSS/livecounter.css" rel="stylesheet" type="text/css")

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src = "dist/JS/counter.min.js")
  body
    center
      p In <strong id = "numDays"></strong> days, we've saved students
      h1 $<span id = "amountSaved"></span>
        
