center{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 80;
}

.overlay{
  opacity: 0.7;
  z-index: 50;
  background-color: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img{
  z-index: 25;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right{
  text-align: right;
  a{
    margin-left: 10px;
  }
}

#toggleswitch{
  margin: 0 auto 20px;
  width: 400px;
  a{
    font-family: montserrat;
    padding: 5px 10px;
    text-align: center;
    width: 200px;
    display: inline-block;
    background-color: $gray;
    color: white;
    cursor: pointer;
    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:nth-child(2){
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .active{
    background-color: white;
    color: $black;
  }
}

#carousel.carousel{
  width: 500px;
}

#calendar{
  width: 80%;
  margin: 0 auto;
  .month{
    padding: 50px;
    width: 100%;
    background-color: #81CFE0;
    p{
      color: white;
      font-family: montserrat;
      font-size: 1.5em;
      span{
        color: inherit;
        font-family: inherit;
      }
    }
    a{
      color: white;
      font-family: montserrat;
      margin-left: 10px;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: $white;
      }
    }
    .inactive{
      color: $light-black;
      cursor: default;
      pointer-events: none;
    }
    #back{
      margin-right: 4px;
    }
    #forwards{

    }
    .left, .right{
      display: inline-block;
    }
    .left{

    }
    .right{
      text-align: right;
      float: right;
    }
  }
  .weekdays{
    margin: 0;
    li{
      color: #666666;
      background-color: #dddddd;
      border: none;
    }
    .small{
      border: none;
    }
    border: none;
  }
  ul{
    li{
      display: inline-block;
      width: 13.2857%;
      text-align: center;
      font-family: montserrat;
      font-size: 1em;
      padding: 10px 0;
      border-right: 1px solid #dddddd;
    }
    .small{
      width: 7%;
      text-align: center;
      padding-left: 2px;
      padding-right: 2px;
      border-left: 1px solid #dddddd;
      cursor: auto;
    }
    background-color: white;
    border-bottom: 1px solid #dddddd;
  }
  .times{
    cursor: pointer;
    li{
      transition: 0.2s all;
      text-overflow: ellipsis;
      overflow-x: hidden;
      vertical-align: top;
      &:hover{
        background-color: $light-blue;
      }
    }
    .small{
      &:hover{
        background-color: inherit;
      }
    }
    .filled{
      background-color: #81CFE0;
      cursor: auto;
      color: $white;
      &:hover{
        background-color: #81CFE0;
      }
    }
  }
}

.popup{
  padding: 2em 1.5em;
  h1, h2, h3, p, input{
    margin: 0;
  }
  p{
    margin: 5px 0 15px;
  }
  input{
    margin-bottom: 10px;
  }
  .sa-input-error.show{
    opacity: 0;
    display: none;
  }
}

#body{
  #people{
    a{
      cursor: pointer;
      font-family: montserrat;
    }
  }
  #getstarted{
    ul, ol{
      width: 60%;
      margin: 0 auto;
    }
  }
  #faqs{
    .fa{
      float: right;
    }
    .rotate {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    ul{
      padding: 0;
    }
    li{
      list-style-type: none;
      padding: 10px;
      margin: 0;
    }
    .q{
      cursor: pointer;
      background-color: $light-black;
      color: white;
    }
    .a{
      display: none;
      background-color: $white;
    }
  }
  .box{
    padding: 3em 5em 3em 5em;
    p{
      line-height: 1.3em;
    }
    h2{
      font-size: 2em;
      margin-bottom: 5px;
    }
    h3{
      font-size: 1.5em;
      margin-bottom: 5px;
    }
    &:nth-of-type(odd){
      text-align: left;
    }
    &:nth-of-type(even){
      text-align: right;
      background-color: $white;
    }
    ol, ul{
      text-align: left;
      li{
        font-family: montserrat;
        margin-bottom: 10px;
        a{
          color: $blue;
        }
      }
    }
    ol{
      list-style-type: decimal;
      width: 60%;
      margin: 0 auto;
    }
    ul{
      list-style-type: disc;
      padding-left: 20px;
    }
  }
  .center{
    &:nth-of-type(odd){
      text-align: center;
    }
    &:nth-of-type(even){
      text-align: center;
    }
  }
  .banner{
    text-align: center;
    position: relative;
    height: 250px;
    h2{
      color: $gray;
      padding-bottom: 5px;
    }
    .img{
      background-image: url("../Graphics/fabric.jpg");
    }
    .btn{
      color: $white;
      &:hover{
        color: $light-blue;
      }
    }
    .btn:first-of-type{
      border-color: $white;
    }
    .btn:nth-of-type(2){
      background-color: $blue;
      border-color: $blue;
      margin-left: 5px;
    }
    padding: 0.5em;
  }

}

#pricing{
  .checkbox{
    margin-left: 5px;
    display: inline;
  }
  #chooseShirt{
    .shirtType{
      width: 25%;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      img{
        width: 100%;
      }
      transition: 0.2s;
      &:hover{
        background-color: $white;
      }
    }
    #selected{
      background-color: $gray;
    }
  }
  #chooseMaterial{
    .radio, p{
      display: inline;
      width: auto;
    }
    p{
      margin-left: 10px;
    }
  }
  .btn{
    background-color: $blue;
    border-color: $blue;
    margin-left: 5px;
    color: $white;
    &:hover{
      color: $light-blue;
    }
  }
  .disabled{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  .circle{
    border-radius: 100%;
  }
  #sizeDesign{
    width: 500px;
    height: 500px;
    background-image: url("/Graphics/pricing/shirt.png");
    position: relative;
  }
  #sizingarea{
    border: 1px solid $black;
    width: 50px;
    height: 50px;
    z-index: 70;
    &:hover{
      cursor: pointer;
    }
  }
  #chooseMaterial.disabled, #chooseShirt.disabled .shirtType{
    cursor: not-allowed;
    &:hover{
      background-color: white;
    }
  }
}

@media screen and (max-width: 700px) {
  #body{
    .box{
      padding: 2em 3em;
    }
    #getstarted{
      ol, ul{
        width: 80%;
      }
    }
  }
  #calendar{
    width: 90%;
    .month{
      .left, .right{
        display: block;
        text-align: center;
      }
      .left{

      }
      .right{
        float: none;
        margin-top: 10px;
      }
    }
  }

}

@media screen and (max-width: 600px) {
  #pricing #sizeDesign{
    width: 300px;
    height: 300px;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  #calendar{
    ul{
      li, .small{
        width: 12.5%;
      }
    }
  }
  header{
    .side{
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }
  }
  #body{
    #toggleswitch{
      width: 200px;
      a{
        display: block;
        border-radius: 5px;
        width: 200px;
      }
    }
    #getstarted{
      ol, ul{
        width: 95%;
      }
    }
  }
  #carousel.carousel{
    width: 300px;
    margin: 0 auto;
    img{
      width: 300px;
    }
  }
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
