footer{
  p, a{
    font-family: montserrat;
  }
  a{
    color: $black;
    &:visited, &:focus{
    	color: $black;
    	text-decoration: none;
    }
    &:hover{
      text-decoration: none;
      color: $blue;
    }
  }
  padding: 25px 25px 50px 25px;
  box-sizing: border-box;
  width: 100vw;
}
